<div>
  <% @albums_created.each do |album| %>
    <%= album.title %>
    <%= link_to 'View Album', album_path(album) %>
  <% end %>
</div>

<div>
  <% @albums_followed.each do |album| %>
    <%= album.title %>
    <%= link_to 'View Album', album_path(album) %>
  <% end %>
</div>
